___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd
import numpy as np

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv(r"C:\PyCodes\Sample - PythonDataScience&MachineLearning\Python-for-Data-Analysis\Pandas\Pandas Exercises\Salaries.csv")

** Check the head of the DataFrame. **

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [6]:
sal['BasePay'].mean()

66325.4488404877

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [7]:
sal['OvertimePay'].max()

245131.88

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [8]:
index_employee = sal.set_index('EmployeeName')
J_DRISCOLL = index_employee.loc['JOSEPH DRISCOLL']
J_DRISCOLL

Id                                         25
JobTitle            CAPTAIN, FIRE SUPPRESSION
BasePay                                140547
OvertimePay                           97868.8
OtherPay                              31909.3
Benefits                                  NaN
TotalPay                               270325
TotalPayBenefits                       270325
Year                                     2011
Notes                                     NaN
Agency                          San Francisco
Status                                    NaN
Name: JOSEPH DRISCOLL, dtype: object

In [22]:
J_DRISCOLL['JobTitle']

'CAPTAIN, FIRE SUPPRESSION'

In [5]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [9]:
J_DRISCOLL.loc['TotalPayBenefits']

270324.91

In [6]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [10]:
sal['TotalPayBenefits'].max()

567595.43

In [11]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [10]:
sal['TotalPayBenefits'].idxmax()    #return index of maximum value

0

In [11]:
sal.iloc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [12]:
sal.iloc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

'NATHANIEL FORD'

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [12]:
sal['TotalPayBenefits'].min()

-618.13

In [13]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [14]:
sal.iloc[sal['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [14]:
base_11 = sal[sal['Year'] == 2011]['BasePay'].mean()
base_12 = sal[sal['Year'] == 2012]['BasePay'].mean()
base_13 = sal[sal['Year'] == 2013]['BasePay'].mean()
base_14 = sal[sal['Year'] == 2014]['BasePay'].mean()

In [15]:
base_1114 = pd.Series(data=[base_11, base_12, base_13, base_14], 
                      index=[2011, 2012, 2013, 2014])
base_1114

2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
dtype: float64

In [15]:
sal.groupby('Year').mean()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Notes,Status
Year,,,,,,,,,
2011,18080.0,63595.956517,4531.065429,3617.081926,NaN,71744.103871,71744.103871,NaN,NaN
2012,54542.5,65436.406857,5023.417824,3653.437583,26439.966967,74113.262265,100553.229232,NaN,NaN
2013,91728.5,69630.030216,5281.641980,3819.969007,23829.076572,77611.443142,101440.519714,NaN,NaN
2014,129593.0,66564.421924,5401.993737,3505.421251,24789.601756,75463.918140,100250.918884,NaN,NaN

In [16]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [16]:
sal['JobTitle'].nunique()

2159

2159

** What are the top 5 most common jobs? **

In [28]:
count = {}
for job in list(sal['JobTitle']):
    count[job] = count.get(job, 0) + 1

byvalue = sorted([(value,key) for key,value in count.items()], reverse=True)
for value,key in byvalue[:5]:
    print(key, value)

Transit Operator 7036
Special Nurse 4389
Registered Nurse 3736
Public Svc Aide-Public Works 2518
Police Officer 3 2421

In [19]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [36]:
job_13 = sal[sal['Year']==2013]
count_13 = {}
for job in list(job_13['JobTitle']):
    count_13[job] = count_13.get(job, 0) + 1

oneperson_jobs = [(value,key) for key,value in count_13.items() if value == 1]
len(oneperson_jobs)

202

In [28]:
sal[sal['Year']==2013]['JobTitle'].value_counts() == 1

Transit Operator                  False
Special Nurse                     False
Registered Nurse                  False
Public Svc Aide-Public Works      False
Custodian                         False
Firefighter                       False
Police Officer 3                  False
Patient Care Assistant            False
Recreation Leader                 False
Deputy Sheriff                    False
Police Officer                    False
Public Service Trainee            False
Police Officer 2                  False
Attorney (Civil/Criminal)         False
Sergeant 3                        False
Porter                            False
Eligibility Worker                False
General Laborer                   False
Gardener                          False
EMT/Paramedic/Firefighter         False
Senior Clerk                      False
Parking Control Officer           False
Library Page                      False
Senior Eligibility Worker         False
Senior Clerk Typist               False
Clerk                             False
Licensed Vocational Nurse         False
Stationary Engineer               False
Nurse Practitioner                False
PS Aide to Prof                   False
                                  ...
Claims Process Clerk               True
Board Scty, MTA                    True
Sr Light Rail Veh Equip Eng        True
Sup Ct Admin Secretary             True
Airport Communications Officer     True
Special Assistant 14               True
Administrative Analyst II          True
Glazier Supervisor 1               True
Transit Paint Shop Sprv1           True
Gen Mgr, Public Trnsp Dept         True
Emergency Services Assistant       True
Chief of Police                    True
Chf District Atty Investigator     True
Cfdntal Sctry to City Atty         True
Operating Room Nurse               True
Senior Assessment Clerk            True
Crane Mechanic Supervisor          True
Principal Recreation Sprv          True
Chief Fire Alarm Dispatcher        True
Sheet Metal Wrk Supervisor 2       True
Conservatorship/Case Mgt Sprv      True
Senior Pharmacy Helper             True
Captain, (Fire Department)         True
Ex Asst to the Controller          True
Chief Dep Adlt Prob Of (SFERS)     True
Special Assistant 16               True
Assistant Inspector 2              True
Principal Museum Preparator        True
Administrator, DPH                 True
Sup Welfare Fraud Investigator     True
Name: JobTitle, Length: 1051, dtype: bool

In [30]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)
# False = 0; True = 1
# Sum up= How many "True"s

202

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [31]:
def check_chief(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [35]:
sal['JobTitle'].apply(check_chief)

0         False
1         False
2         False
3         False
4          True
5          True
6         False
7         False
8         False
9          True
10         True
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25         True
26        False
27        False
28         True
29         True
          ...
148624    False
148625    False
148626    False
148627    False
148628    False
148629    False
148630    False
148631    False
148632    False
148633    False
148634    False
148635    False
148636    False
148637    False
148638    False
148639    False
148640    False
148641    False
148642    False
148643    False
148644    False
148645    False
148646    False
148647    False
148648    False
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [36]:
sum(sal['JobTitle'].apply(check_chief))

477

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [39]:
# create a new column 'jobtitle_len'
sal['jobtitle_len'] = sal['JobTitle'].apply(len)

In [40]:
sal[['JobTitle', 'jobtitle_len']]

                                                JobTitle  jobtitle_len
0         GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY            46
1                        CAPTAIN III (POLICE DEPARTMENT)            31
2                        CAPTAIN III (POLICE DEPARTMENT)            31
3                   WIRE ROPE CABLE MAINTENANCE MECHANIC            36
4           DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)            44
5                              ASSISTANT DEPUTY CHIEF II            25
6                     BATTALION CHIEF, (FIRE DEPARTMENT)            34
7                         DEPUTY DIRECTOR OF INVESTMENTS            30
8                     BATTALION CHIEF, (FIRE DEPARTMENT)            34
9                 CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)            38
10      ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)            48
11                       CAPTAIN III (POLICE DEPARTMENT)            31
12                           EXECUTIVE CONTRACT EMPLOYEE            27
13                                     DEPARTMENT HEAD V            17
14                    BATTALION CHIEF, (FIRE DEPARTMENT)            34
15                    COMMANDER III, (POLICE DEPARTMENT)            34
16                                     DEPARTMENT HEAD V            17
17                 CAPTAIN, EMERGENCYCY MEDICAL SERVICES            37
18                    BATTALION CHIEF, (FIRE DEPARTMENT)            34
19                            ASSISTANT MEDICAL EXAMINER            26
20                            ASSISTANT MEDICAL EXAMINER            26
21                            ASSISTANT MEDICAL EXAMINER            26
22                             CAPTAIN, FIRE SUPPRESSION            25
23                    BATTALION CHIEF, (FIRE DEPARTMENT)            34
24                             CAPTAIN, FIRE SUPPRESSION            25
25                                       CHIEF OF POLICE            15
26                             CAPTAIN, FIRE SUPPRESSION            25
27                    BATTALION CHIEF, (FIRE DEPARTMENT)            34
28                  DEPUTY CHIEF III (POLICE DEPARTMENT)            36
29          DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)            44
...                                                  ...           ...
148624                                      Senior Clerk            12
148625                                  Registered Nurse            16
148626                                     Account Clerk            13
148627                                   General Laborer            15
148628                                   General Laborer            15
148629                                Transcriber Typist            18
148630                                         Carpenter             9
148631                       Communications Dispatcher 1            27
148632                        Protective Services Worker            26
148633                                   General Laborer            15
148634                               Transit Car Cleaner            19
148635                                   General Laborer            15
148636                               Arborist Technician            19
148637                            Transit Fare Inspector            22
148638                                       Electrician            11
148639                                         Custodian             9
148640                           Parking Control Officer            23
148641                                      Museum Guard            12
148642                                       Sign Worker            11
148643                           Parking Control Officer            23
148644                      Stationary Eng, Sewage Plant            28
148645                         Human Services Technician            25
148646                                      Not provided            12
148647                       Communications Dispatcher 2            27
148648                                         Custodian             9
148649                                         Custodian             9
148650                                      Not provided            12
148651                                      Not provided            12
148652                                      Not provided            12
148653                        Counselor, Log Cabin Ranch            26

[148654 rows x 2 columns]

In [42]:
sal[['TotalPayBenefits', 'jobtitle_len']].corr()
# Conclusion: no correlation between Salary and Job Title Length

                  TotalPayBenefits  jobtitle_len
TotalPayBenefits          1.000000     -0.036878
jobtitle_len             -0.036878      1.000000

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!