In [16]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

# initialize Dataframe

In [32]:
pd.DataFrame({"W": [1,2,3], "X": [2,3,4]})

   W  X
0  1  2
1  2  3
2  3  4

In [33]:
df = pd.DataFrame(data=np.random.randn(5,4), index=['A', 'B', 'C', 'D', 'E'], columns=['W', 'X', 'Y', 'Z'])
df

          W         X         Y         Z
A -0.155276 -1.013228 -1.087436 -2.567767
B  0.661029 -0.332921 -0.928602  1.715950
C -0.468756  0.860097  0.230087  0.618658
D -2.052563 -0.166646 -0.445873  0.685874
E  2.785010  1.523750  1.290230 -1.478319

# Select Column

In [7]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [10]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [11]:
df[['Y', 'Z']]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965
C  0.528813 -0.589001
D -0.933237  0.955057
E  2.605967  0.683509

# Select Row

In [19]:
df.loc['C']

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [20]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [21]:
df.loc['D', 'X']

-0.758872056210466

In [22]:
df.loc[['C', 'E'], ['X', 'Z']]

          X         Z
C  0.740122 -0.589001
E  1.978757  0.683509

# Select Row

In [19]:
df.loc['C']

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [20]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [21]:
df.loc['D', 'X']

-0.758872056210466

In [22]:
df.loc[['C', 'E'], ['X', 'Z']]

          X         Z
C  0.740122 -0.589001
E  1.978757  0.683509