In [2]:
import numpy as np
import pandas as pd

# Create: input list

In [4]:
### input list as data ###
pd.Series(data=[10, 20, 30])

0    10
1    20
2    30
dtype: int64

In [5]:
### input list as data & list as index ###
pd.Series(data=[10, 20, 30], index=['a', 'b', 'c'])

a    10
b    20
c    30
dtype: int64

# Create: input array

In [6]:
arr_1 = np.array([10, 20, 30])
# data array must be 1-dimensional

In [9]:
pd.Series(data=arr_1)

0    10
1    20
2    30
dtype: int32

In [11]:
pd.Series(data=arr_1, index=['a', 'b', 'c'])

a    10
b    20
c    30
dtype: int32

# Create: input dictionary

In [10]:
dic = {'a': 10, 'b': 20, 'c':30}
pd.Series(data=dic)

a    10
b    20
c    30
dtype: int64

### #Examples

In [12]:
ser_1 = pd.Series({'a': 10, 'b': 20, 'c':30})
ser_2 = pd.Series({'a': 10, 'b': 20, 'c':30, 'd':40})
ser_3 = pd.Series({'a':90, 'b':80, 'z':70})

# Selection

In [11]:
ser_1['b']
ser_1[1]

20

# Operation

In [30]:
ser_1 + ser_3
# return NaN in unmatched rows

a    100.0
b    100.0
c      NaN
z      NaN
dtype: float64

In [13]:
ser_1 + ser_2

a    20.0
b    40.0
c    60.0
d     NaN
dtype: float64