# Create Dataframe  by list

In [4]:
import pandas as pd

In [6]:
x_train = [0.01,1.02, 1.5, 1.99, 5, 3.01, 4 ,2.5]
y_train = [0,   1   , 1.5, 2   , 5, 3   , 4, 2.5]
df = pd.DataFrame({"X": x_train, "Y":y_train})
df

      X    Y
0  0.01  0.0
1  1.02  1.0
2  1.50  1.5
3  1.99  2.0
4  5.00  5.0
5  3.01  3.0
6  4.00  4.0
7  2.50  2.5