In [3]:
import pandas as pd

In [6]:
x_train = [1,2,3,4,5,6]
y_train = [2,4,6,8,10,12]
df = pd.DataFrame({"X": x_train, "Y":y_train})
df

   X   Y
0  1   2
1  2   4
2  3   6
3  4   8
4  5  10
5  6  12

# Total Sum (Vertical)

In [10]:
#df.loc['total'] = df1.select_dtypes(pd.np.number).sum()
df.loc['VSum'] = sum([df.loc[col] for col in df.index if col != 'VSum'])
df

       X   Y  Sum
0      1   2    3
1      2   4    6
2      3   6    9
3      4   8   12
4      5  10   15
5      6  12   18
VSum  21  42   63

# Sum (Horizontal)

In [11]:
df['Sum'] = sum([df[col] for col in df.columns if col != 'Sum'])
df

       X   Y  Sum
0      1   2    3
1      2   4    6
2      3   6    9
3      4   8   12
4      5  10   15
5      6  12   18
VSum  21  42   63