In [1]:
import numpy as np
import pandas as pd

# Create: input list

In [3]:
### input list as data ###
pd.Series(data=[10, 20, 30])

0    10
1    20
2    30
dtype: int64

In [5]:
### input list as data & list as index ###
pd.Series(data=[10, 20, 30], index=['a', 'b', 'c'])

a    10
b    20
c    30
dtype: int64

# Create: input array

In [6]:
arr_1 = np.array([10, 20, 30])
# data array must be 1-dimensional

In [9]:
pd.Series(data=arr_1)

0    10
1    20
2    30
dtype: int32

In [11]:
pd.Series(data=arr_1, index=['a', 'b', 'c'])

a    10
b    20
c    30
dtype: int32

# Create: input dictionary

In [12]:
dic = {'a': 10, 'b': 20, 'c':30}

In [13]:
pd.Series(data=dic)

a    10
b    20
c    30
dtype: int64

### #Examples

In [24]:
ser_1 = pd.Series(dic)

In [25]:
ser_2 = pd.Series({'a': 10, 'b': 20, 'c':30, 'd':40})

In [26]:
ser_3 = pd.Series({'a':90, 'b':80, 'z':70})

In [27]:
ser_1

a    10
b    20
c    30
dtype: int64

In [28]:
ser_2

a    10
b    20
c    30
d    40
dtype: int64

In [29]:
ser_3

a    90
b    80
z    70
dtype: int64

# Selection

In [20]:
ser_1['b']

20

In [21]:
ser_1[1]

20

# Operation

In [30]:
ser_1 + ser_3
# return NaN in unmatched rows

a    100.0
b    100.0
c      NaN
z      NaN
dtype: float64

In [31]:
ser_1 + ser_2

a    20.0
b    40.0
c    60.0
d     NaN
dtype: float64