# Sorted

In [5]:
lst = [2,1,4,5,6,3]

In [6]:
sorted(lst)

[1, 2, 3, 4, 5, 6]

In [7]:
sorted(lst, reverse=True)

[6, 5, 4, 3, 2, 1]

### Sorted with lambda

In [8]:
sorted(lst, key=lambda x: x%2==0, reverse=True)

[2, 4, 6, 1, 5, 3]

In [9]:
mylist = [(3, 5, 8), (6, 2, 8), ( 2, 9, 4), (6, 8, 5)]
sorted(mylist, key=lambda x: x[1])

[(6, 2, 8), (3, 5, 8), (6, 8, 5), (2, 9, 4)]

### Sorted dict

In [20]:
d = {'01': 2, '02': 4, '04': 3, '03': 60, '05': 0}
sorted(d.items(), key=lambda x: x[1], reverse=True)

[('03', 60), ('02', 4), ('04', 3), ('01', 2), ('05', 0)]

In [19]:
sorted(d.items(), key=lambda x: x[0])

[('01', 2), ('02', 4), ('03', 60), ('04', 3), ('05', 0)]

### Sorted with lambda in dict list

In [29]:
dict_list = [{'name':'Homer', 'age':39}, {'name':'Milhouse', 'age':10}, {'name':'Bart', 'age':16}, {'name':'Aily', 'age':10} ]
sorted(dict_list , key=lambda x: (x['age']), reverse=True)

[{'name': 'Homer', 'age': 39},
 {'name': 'Bart', 'age': 16},
 {'name': 'Milhouse', 'age': 10},
 {'name': 'Aily', 'age': 10}]

In [30]:
dict_list = [{'name':'Homer', 'age':39}, {'name':'Milhouse', 'age':10}, {'name':'Bart', 'age':16}, {'name':'Aily', 'age':10} ]
sorted(dict_list , key=lambda x: (x['age'], x['name']))

[{'name': 'Aily', 'age': 10},
 {'name': 'Milhouse', 'age': 10},
 {'name': 'Bart', 'age': 16},
 {'name': 'Homer', 'age': 39}]

### Sorted with lambda in object list

In [39]:
class myObj:
    def __init__(self, name, age):
        self.name = name
        self.age = age
obj_lst = [myObj('John',36), myObj('Even',17), myObj('Steven',56)]
for o in sorted(obj_lst, key=lambda x: x.age):
    print('name:', o.name, 'age:', o.age)

name: Even age: 17
name: John age: 36
name: Steven age: 56